.main {
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-items: center;
  align-items: baseline;
}

.sectionWrapper {
  margin-top: 90px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  max-width: 1200px;
  padding-bottom: 100px;
}

.overrideMain {
  height: 100vh;
  max-width: 2100px;
  margin: 0 auto;
}

.imageWrapper {
  flex: 1; 
  width: 100%;
  padding-bottom: 100px;
  }

.overrideMain > h3 {
  line-height: 1.5;
}

.overrideMain > ul:last-of-type {
  border-bottom: 2px solid #808080;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.list {
  font-size: 1.2rem;
  padding-left: 2rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.form > ol > li {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form > ol > li > label {
  font-weight: 500;
  padding-bottom: 0.5rem;
}


.answer {
 display: flex;
 gap: 8px;
 padding-left: 1.1rem;
}

.answer > input {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .main {
    align-items: center;
  }

  .overrideMain {
    align-items: baseline;
  }
}
