.main {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem; */
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1960px;
}

.message {
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #000;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.imageItem {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin: 52px 0 100px 0;
}

@media (max-width: 768px) {
  .imageGridWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 100px 0;
  }
  .message {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .message {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}
